@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #f0f8ff;


}

.container-1 {
    background-color: #8000ff;

}

.avtar1 {
    height: 40px;
    width: 40px;
    border-radius: 24px;
}

.colon {
    color: #F5F5F5;
    font-weight: lighter;
    font-size: 120px;

}

.name {
    font-size: 19px;
    font-family: "Roboto";
    color: white;
}

.role {
    font-size: 13px;
    font-family: "Roboto";
    color: white;
}

.head {
    font-size: 15px;
    color: white;
    font-family: "Roboto";
}

.des {
    color: white;
    font-family: "Roboto";
    font-size: 9px;
}